.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 1000;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  position: relative;
  display: flex;
  max-width: 230px;
  width: 100%;
  min-height: 131px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 12px;
  background-color: #fff;
}

.modal-btn {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.modal-btn svg {
  fill: #161616;
  transition: all .3s ease-in-out;
}

.modal-btn:hover svg{
  fill: #22a0bc;
}

.modal__descr {
  margin: 0;
  padding: 0;
}

@media (max-width: 1155px) {
  .modal__content {
    max-width: 335px;
  }

  .modal-btn {
    top: 10px;
    right: 10px;
  }

  .modal-input {
    max-width: 295px;
  }
}
