.header {
  background-color: #fdfdfd;
}

.header__wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__avatar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__avatar-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
